---
import CallToAction from "../../components/content/CallToAction.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <section class="section-feature mt-8 flex items-center justify-center">
    <CallToAction gradient="purplelake" headline="EXAMPLE CTA HEADLINE" ctaText="CTA BUTTON TEXT" ctaUrl="#" />
  </section>
</DefaultLayout>
