---
import DefaultLayout from "@layouts/DefaultLayout.astro";

import ContentMedia from "@components/content/ContentMedia.astro";
---

<DefaultLayout>
  <section class="section-popout">
    <ContentMedia imgSrc="/illustrations/undraw_feeling_proud.svg" imgAlt="fellint proud illustration">
      <h2>This is my Content for the Media</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </ContentMedia>
  </section>
</DefaultLayout>
