---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <section class="mt-8 flex items-center justify-center rounded-2xl bg-teal-500">
    <h2>Normal Content Section</h2>
  </section>
  <section class="section-popout mt-8 flex items-center justify-center rounded-2xl bg-purple-500">
    <h2>Popout Content Section</h2>
  </section>
  <section class="section-feature mt-8 flex items-center justify-center rounded-2xl bg-fuchsia-500">
    <h2>Feature Content Section</h2>
  </section>
  <section class="section-full mt-8 flex items-center justify-center rounded-2xl bg-pink-500">
    <h2>Full Content Section</h2>
  </section>
</DefaultLayout>
