---
import { cva, type VariantProps } from "class-variance-authority";

import Media from "./Media.astro";

interface Props {
  imgSrc: string;
  imgAlt: string;
  reverseImg?: boolean;
}

const { imgSrc, imgAlt, reverseImg = false } = Astro.props;
---

<div class="md:my:48 my-24 grid grid-cols-1 gap-12 md:grid-cols-2">
  {!reverseImg ? <Media class="rounded-lg" src={imgSrc} alt={imgAlt} /> : ""}
  <div class="space-content flex flex-col justify-center">
    <slot />
  </div>
  {reverseImg ? <Media class="rounded-lg" src={imgSrc} alt={imgAlt} /> : ""}
</div>

<style></style>
