---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - <a href="https://mkz.dev/">Page Name</a>. Made with ❤️ by <a href="https://mkz.dev"
          >Maximilian Kehl</a
        >.
      </p>
    </div>
  </section>
</footer>
