---
import SkipLinks from "./SkipLinks.astro";
import Navigation from "./navigation/Navigation.astro";
---

<header class="sticky top-0 z-40 bg-background">
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/random-nav-link/">Nav Link</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Example Content</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/example-content/content-accordion">Accordion</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/content-card">Card</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/content-contentmedia">Content | Media</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/content-cta">CTA</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/content-feature">Feature</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/content-layout">Layout</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/content-modal">Modal</a>
        </li>
        <li class="submenu-item">
          <a href="/example-content/ui-buttons">Buttons</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://externa.link" title="external link" rel="external noopener noreferrer">external link</a>
    </li>
  </Navigation>
</header>
