---
import SkipLinks from "./SkipLinks.astro";
import Navigation from "./navigation/Navigation.astro";
---

<header class="sticky top-0 z-40 bg-background">
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/random-nav-link/">Nav Link</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Nav Link with Submenu</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/submenu-1/">Submenu 1</a>
        </li>
        <li class="submenu-item">
          <a href="/submenu-2/">Submenu 2</a>
        </li>
        <li class="submenu-item">
          <a href="/submenu-3/">Submenu 3</a>
        </li>
        <li class="submenu-item">
          <a href="/submenu-4/">Submenu 4</a>
        </li>
        <li class="submenu-item">
          <a href="/submenu-5/">Submenu 5</a>
        </li>
        <li class="submenu-item">
          <a href="/submenu-6/">Submenu 6</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://externa.link" title="external link" rel="external noopener noreferrer">external link</a>
    </li>
  </Navigation>
</header>
