---
import "../styles/global.scss";
import SiteMeta from "../components/SiteMeta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { ViewTransitions } from "astro:transitions";
const {
  title = "mkz.dev astro base",
  description = "Starting point for my Astro Websites",
  image = "illustrations/undraw_feeling_proud.svg",
  author = "Maximilian Kehl",
} = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
        : `https://astro-base.mkz.dev/${title.toLowerCase().replaceAll(" ", "-")}`}
      image={image}
      author={author}
    />
  </head>
  <body>
    <Header />
    <main id="main-content" class="section-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
